$font-primary: 'fooont', Arial, sans-serif;
$color-primary: white;
$color-secondary: #FF931E;
$color-bg: #2D3192;
$color-border: #dfe4eb;
$color-text:#5F6773;
$nav-height:80px;
$mtops: 40px;
$mtopl: 60px;
$section-padding:35px 0 60px;
$color-light-bg:#F6F8FE;
$bottom-border: 1px solid rgba(255, 255, 255, 0.5);