@import "../base/variables";
.scroll-btn{
    cursor: pointer;
    display: none !important;
    bottom: 40px;
    font-size: 14px;
  }

.more-btn{
    width: 200px;
    max-width: 200px;
    height: 56px;
    border: 3px solid $color-border;
    border-radius: 12px;
    cursor: pointer;
    transition: .2s;
    position: relative;
    display: flex;
    align-items:center;

    &::after{
        content: url(../images/link_orange_icon.svg);
        position: absolute;
        right: 24px;
        transition: .2s;
    }
span{
    color: black;
    font-size: 15px;
    font-weight: 600;
    padding-left: 24px;
    position: relative;

}
&:hover{
    border-color: $color-secondary;
    &::after{
        right: 18px;
    }
}
}
.close-btn{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 26px;
    .x-line{
        position: absolute;
        width: 26px;
        height: 2px;
        border-radius: 2px;
        background: $color-bg;
        transition: all .3s linear;
        transform: rotate(45deg);
        &:last-child{
            transform: rotate(-45deg);
        }
    }
}