@import "../base/variables";
.scroll-btn{
    cursor: pointer;
    display: none !important;
    bottom: 40px;
    font-size: 14px;
  }

.more-btn{
    width: 200px;
    height: 56px;
    border: 3px solid $color-border;
    border-radius: 12px;
    cursor: pointer;
    transition: .2s;
span{
    font-size: 15px;
    font-weight: 600;
    padding-left: 24px;
    position: relative;

    &::after{
        content: url(../images/link_orange_icon.svg);
        position: absolute;
        top: 0;
        right: -72px;
        transition: .2s;
    }
}
&:hover{
    border-color: $color-secondary;
    span::after{
        right: -78px;
    }
}
}