@import "../base/variables";
.custom-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0;
    border: 1px solid $color-border;
    border-radius: 6px;
    margin: 8px 10px 36px;
    img{
        height: 230px;
        width: 100%;
    }
    h3{
        font-weight: bold;
        font-size: 24px;
        line-height: 1.25;
        text-align: center;
        letter-spacing: 0.01em;
        margin: 16px 0;
    }
    p{
        text-align: center;
        font-size: 16px;
        line-height: 1.62;
        color: $color-text;
    }
}

@media only screen and (min-width: 768px){
.custom-card{
    width: calc(33.33% - 20px) !important;
    padding: 32px 20px !important;
}
    
}