@import "../base/variables";
.clients-section{
    .client-div{
      height: 160px;
      border: 1px solid $color-border;
      border-radius: 4px;
    margin-top: 20px;
    background-color: $color-primary;
    max-width: 49%;
    margin: 6px 0;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    img{
        max-height: 90px;
        max-width: 80%;
    }
    }
  }

  .team-section{
    .team-member{
      margin: 0 12px 48px;
      width: calc(20% - 30px);
      
      text-align: center;
      .img-div{
        background-image: url(../images/team/figure_green_bg.png);
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-end;
        max-width: 100%;
        overflow: hidden;
        border-radius: 4px;
        margin-bottom: 12px;
        height: 267px;
        img{
          width: 100%;
        }
      }
      .text-div{
        
        .name{
          font-weight: 600;
          font-size: 18px;
          display: flex;
          justify-content: center;
          margin-bottom: 8px;
        }
        .job-position{
          font-size: 15px;
          color: $color-text;
        }
      }
    }
   
  }
.countries{
  font-weight: bold;
  h3{
    font-size: 18px;
    color: $color-bg;
  }
  .country{
    margin: 8px 0;
    display: inline-block;
    min-width: 33%;
    font-size: 16px;
}
.row{
    max-height: 240px;
    padding: 0 0 40px;
}
.w-100{
    max-height: 160px;
    display: flex;
    flex-wrap: wrap;
}
@media only screen and (max-width:480px){
    .country{
        min-width: 50%;
        font-size: 14px;
        margin: 4px 0;
        .row{
          min-height: 1px;
          margin-top: 132px;
      }
    }
}
}