@import "../base/variables";
.hidden-scroll{
    overflow: hidden;
}
header{
    transition: .2s linear;
    &.scrolled-nav{
        box-shadow: 0 0 10px 0 rgba(41, 41, 41, 0.1) !important;

        #logo{
            background-image: url('../images/logo_colored.svg') !important;
         }
         a{
            color:black !important;
        }
            div[class*="line"]{
                background: $color-bg;
            }
    
}
}
.navigation{
    #logo{
        background: url('../images/logo.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
}
.navigation-items {
    a{
        color: #eee;
        font-weight: 500;
        font-size: 17px;
        padding: 0 0 0 35px;
        line-height: 1.41 !important;
        text-decoration: none;
        transition: .2s;

        &:hover, &.active {
            color: $color-secondary !important;
        }
        
    }
    
     
}
.scrolled-nav{

    background: $color-primary !important;
    height: 80px !important;
}

.menu-btn{
    display: none !important;
    z-index: 2;
    height: 44px;
    width: 44px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

}
 .burger{
    position: relative;
} 

 .main-burger-line{
    width: 22px;
    height: 2px;
    background: $color-primary;
    transition: .2s linear;
}
.burger-line{
    position: absolute;
    width: 22px;
    height: 2px;
    border-radius: 2px;
    background: $color-primary;
    transition: all .3s linear;
    animation-duration: .2s;
}
.line-before{
   top:6px;
}
.line-after{
    bottom:6px;
}
.main-burger-line.open{
    background: transparent !important;  
}

.menu-btn.open .burger .line-before{
    transform: rotate(135deg);
    
}

.menu-btn.open .burger .line-after{
    transform: rotate(-135deg);
} 
@media screen and (max-width:1024px){
    .menu-btn{
        display: flex !important;
    }
    .navigation-items{
        display: none !important;
    }
}