@import "../base/variables";
body{
    margin: 0 !important;
    font-family: $font-primary;
    line-height: 1.3 !important;
}
header{
    height: 110px !important;
    img{
      width: 154px !important;
    }
}

@keyframes text{
  from {opacity: 0;
  transform: translateY(32px);
  }
  to {opacity: 1;
    transform: translateY(0px);}
}

.col-custom{
  width: 62%;
}
.intro{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url('../images/cover.jpg');
margin-top: -110px;
max-width: 100%;
background-size: cover;
background-repeat: no-repeat;
background-position: 60% 50%;
color: $color-primary;
height:100vh !important;
h1{
  font-weight: 600;
  padding-top: 110px;
  line-height: 1.29;
  letter-spacing: -0.01em;  
}
p{
  font-size: 15px;
  line-height: 1.7 !important;
  animation-delay: .3s;
}
h1, p{
  opacity: 0;
  transform: translateY(32px);
  transition: .2s linear;
  animation-name: text;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}

}

.scroll-btn{
  cursor: pointer;
  display: none !important;
  bottom: 40px;
  margin-left: 20px;
  font-size: 14px;
}


@media only screen and (max-width: 480px) {
    .intro{
      height:76vh !important;
      h1{
        font-size: 21px !important;
      }
    }
  }
  @media only screen and (min-width: 768px) {
    .intro{
      h1{
        font-size: 27px;
      }
    }

    header{
      img{
        width: 154px;
      }
  }
  .solutions-section{
   ul{
     margin-left: 48px;
   }
    }

    section[class$="section"]{
      height: calc(100vh - #{$nav-height}) !important;
      overflow: hidden;
    }
}
  

  @media only screen and (min-width: 1279px) {
    .intro{
      
      h1{
        font-size: 32px;
      }
    }
  }
  @media only screen and (min-width: 1280px) {
    .scroll-btn{
      display: flex !important;
    }
    .intro{
     
      h1{
        font-size: 48px;
        margin-top: 18% !important;
      }
      p{
        font-size: 15px;
        line-height: 1.9 !important;
      }
    }
    .second-section{
      h2{
        font-size: 36px !important;
      }
    }

    .solutions-section{
      h3{
        font-size: 54px !important;
      }
      p{
        font-size: 21px !important;
        font-weight: 600 !important;
        text-align: left !important;
      }
    }
  }
 

  .second-section{
    padding-top: 40px;

    h2{
      color: $color-bg;
      font-size: 24px;
      font-weight: 600;
    }
  }
  .solutions-section{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url('../images/solutions_bg-1.jpg');
    background-attachment: fixed;
    background-position: center;
    max-width: 100% !important;
    background-size: cover;
    background-repeat: no-repeat;
    color: $color-primary;
    text-decoration: none;
    ul{
      list-style: none;
    }
    h3{
      font-size: 27px;
      font-weight: 600;
      width: 70%;
    }
    .blue-bg{
      background-color: rgba(45, 49, 146, 0.6) !important;
    }
    li{
      padding: 20px 0;
      border-bottom: 1px solid rgba(128, 128, 128, 0.473);
    }
    p{
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
  }
  
  