@import "../base/variables";

.col-custom{
  width: 62%;
  max-width: 610px;
}
  .intro{
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.2)
    ),
    url('../images/cover.jpg');
    margin-top: -110px;
    max-width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 60% 50%;
    color: $color-primary;
h1{
  margin-top: 110px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.01em; 
}
p{
  font-size: 15px;
  line-height: 1.7 !important;
  animation-delay: .3s;
}
h1, p{
  opacity: 0;
  transform: translateY(32px);
  transition: .2s linear;
  animation-name: text;
  animation-duration: .5s;
  animation-fill-mode: forwards;
}}


.second-section{
  padding-top: $mtops;

}


.solutions-section{
  background:
  url('../images/solutions_bg-1.jpg');
  background-attachment: fixed;
  background-position: center;
  max-width: 100% !important;
  background-size: cover;
  background-repeat: no-repeat;
  color: $color-primary;
  text-decoration: none;
  ul{
    list-style: none;
  }
  h3{
    max-width: 520px;
    font-size: 27px;
    font-weight: 600;
    padding: 120px 20px 120px;
  }
  .blue-bg{
    background-color: rgba(45, 49, 146, 0.6) !important;
  }
  li{
    padding: 20px 0;
    border-bottom: 1px solid rgba(128, 128, 128, 0.473);
  }
  p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
  }
}

.count-section{
  padding-top: $mtopl;

}
.map-section{
  padding-top: $mtopl;
}

//XS
@media only screen and (max-width: 479px) {
  .intro{
    height:70vh !important;
    h1{
      font-size: 21px;
    }
  }
}

//S
@media only screen and (min-width: 767px){}
.intro{
  height:100vh !important;
h1 {
  font-size: 32px;
}}
//M
@media only screen and (min-width: 1024px){
  .intro{
    h1{
      font-size: 48px;
    }
    .scroll-btn{
      display: flex !important;
    }
  }

  header{
    img{
      width: 154px;
    }
}
.solutions-section{
  height: calc(100vh - #{$nav-height}) !important;
  h3{
    font-size: 54px !important;
    padding: 120px 20px 120px;
  }
  .container-md{
    margin-left: 24px;
  }
 ul{
   p{ 
     font-size: 18px;
     font-weight: 600;
   }
 }
  }

  
}
//L 


//XL
@media only screen and (min-width: 1281px) {
  
  .intro{
   
    h1{
      font-size: 48px;
    }
    p{
      font-size: 15px;
      line-height: 1.9 !important;
    }
  }
  .second-section{
    h2{
      font-size: 36px !important;
      
    }
  }

  .solutions-section{
    h3{
      padding:20px !important;
    }
    
    p{
      font-size: 21px !important;
      font-weight: 600 !important;
      text-align: left !important;
    }
  }
}
 
 
  
  