@import "../base/variables";
@media (min-width: 240px) and (max-width: 479px) {
    footer, section[class*="section"]{
        padding: 30px 0 32px;
    }
.section-title{
    font-size: 24px;
}
    #logo{
        width: 130px;
        height: 45px;
    }
    .intro{
        height: auto;
        h1{
          font-size: 21px;
          padding-top: 32px;
        }
        p{
            padding-bottom: 32px;
        }
        .col-custom{
            max-width: 62%;
        }
      }

      .second-section{

        .text-sct{
            min-width: 100%;
            font-size: 24px;
            padding-bottom: 12px;
        }
        .card{
            padding: 0;
            width: 100%;
        }
      }

      #solutions-section{
        padding: 0;
        h3{
          padding: 120px 20px 120px;
        }
        
    }

    .count-section{
      text-align: center;
      .count-row{
        padding:0;
        &.second{
          border-top: none;
        }
        .txt{
          font-size: 12px;
          font-weight: 500;
        }
      }
      .count{
        display: inline;
        .number, .count-word{
          font-size: 27px;
        }
      }
    
    }

    .jobs-section{
      .col-4{
        text-align: center;
        h3{
          font-size: 14px;
          margin-top: 8px;
        }
      }
      .blue-bg{
        z-index: 1;
        padding: 20px;
        margin-left: 0px;
        h3{
          padding: 0px;
          font-size: 21px;
        }
        p{
          font-size:14px;
          padding: 0 0 4px;
        }
      }
    }
    .news-section{
      .news-card{
        width: 100%;
        padding: 0;
        font-size: 14px;
        .card-title{
          padding: 0 0 10px;
          font-size: 16px;
        }
      }
    }
}

@media (min-width: 480px) and (max-width: 767px) {
    .section-title{
        font-size: 27px;
    }
    .intro{
        height: auto;
      h1 {
        font-size: 27px;
      }
      p{
        padding-bottom: 96px;
        padding-top: 12px;
    }
      
    }
    .card{
      width: 100%;
      padding: 0;
  }

    #solutions-section{
      padding: 0;
      h3{
        padding: 120px 20px 120px;
      }
      
  }
  .count-section{
    .count-row{
      padding:0;
      &.second{
        border-top: none;
      }
      .txt{
        font-size: 14px;
        font-weight: 500;
      }
    }
    .count{
      .number, .count-word{
        font-size: 32px;
      }
    }
  
  }

  .jobs-section{
    .col-4{
      text-align: center;
      h3{
        font-size: 15px;
      }
    }
    .blue-bg{
      z-index: 1;
      padding: 20px;
      margin-left: 0px;
      padding: 20px 20px 25px;
      h3{
        font-size: 24px;
        padding: 0 0 12px;
      }
      p{
        font-size:16px;
        padding: 0 0 4px;
      }
    }
  }

  .news-section{
    .news-card{
      width: 100%;
      padding: 0;
      font-size: 16px;
      .card-title{
        padding: 0 0 20px;
        font-size: 18px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .section-title{
        font-size: 32px;
    }
    .intro{
        h1{
          font-size: 32px;
        }
        
      }
      .second-section{
        .card{
          .card-title{
            font-size: 21px;
          }
          .card-text{
            font-size: 16px;
          }
        }
      }

      #solutions-section{     
        height: calc(100vh - #{$nav-height}) !important;
        h3{
          font-size: 32px;
          padding:0px 40px;
        }
        
       ul{
         p{ 
           font-size: 18px;
           font-weight: 600;
           text-align: left;
           padding: 0px;
         }
       }
   }
   .count-section{
    .count-row{
      padding:40px 0;
    }
    .count{
      .number, .count-word{

        font-size: 32px;
      }
    }
  
  }
  .clients-section{
    .client-div{
    max-width: 32%;
    margin: 8px 0;
    }
  }
  .jobs-section{
    .col-4{
      h3{
        font-size: 20px;
      }
    }
    .blue-bg{
      padding: 30px;
      margin-left: -110px;
      h3{
        padding: 0 0 16px;
        font-size: 24px;
      }
      p{
        font-size:16px;
        padding: 0 0 24px;
      }
    }
  }
  
  .news-section{
    .news-card{
      font-size: 16px;
      .card-title{
        padding: 0 0 24px;
        font-size: 16px;
      }
    }
  }
  footer{
    .city-btn, .cities{
      padding: 0 0 40px;
    }
    .city-info{
      padding: 10px 0 20px;
    }
    .city{
      padding: 20px 0;
    }
  }
}

@media (min-width: 1024px) and (max-width: 1280px){
    .intro{
      .scroll-btn{
        display: flex !important;
      }
        h1{
          font-size: 48px;
        } 
        
    }

    #solutions-section{     
      height: calc(100vh - #{$nav-height}) !important;
      h3{
        font-size: 32px;
        padding:0px 40px;
      }
      
     ul{
       p{ 
         font-size: 21px;
         font-weight: 600;
         text-align: left;
         padding: 0px;
       }
     }
 }
.map-section{
  .map-img{
    display: none;
  }
  .world-map{
    margin-top: -90px;
    display: block;}
    .mini-div{
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .section-body{
      .section-title{
        margin-top: 48px;
        text-align: left;
      }
    }
}

.clients-section{
  .client-div{
  max-width: 23%;
  margin: 12px 0;
  }
}
.team-section{
  display: block;
}

.jobs-section{
  .col-4{
    h3{
      font-size: 20px;
    }
  }
}

}

@media only screen and (min-width: 1281px){
     .intro{
       .scroll-btn{
         display: flex !important;
       }
       h1{
        font-size: 48px;
      } 
     }
    #solutions-section{     
        height: calc(100vh - #{$nav-height}) !important;
        h3{
          font-size: 54px;
          padding: 0px;
        }
       ul{
         p{ 
           font-size: 21px;
           text-align: left;
           font-weight: 600;
           padding: 0px;
         }
         li{
          padding: 32px 0;
         }
       }
        }
        .count-section{
          .count-row{
            padding:80px 0;
          }
          .count{
            .number, .count-word{
              font-size: 48px;
            }
          }
        
        }
        
        .map-section{
         .map-container{
           max-width: 1280px;
         }
         .map-img{
           display: none;
         }
          .world-map{
            margin-top: -110px;
            display: block;
          }
            .mini-div{
              display: flex;
              flex-direction: column;
              justify-content: center;
            }
            .section-body{
              .section-title{
                margin-top: 56px;
                text-align: left;
              }
            }
        }
        .clients-section{
          .client-div{
          max-width: 22.2%;
          margin: 12px 0;
          }
        }
        .team-section{
          display: block;
        }
        .news-section{
          .news-div{
            padding: 0 0 40px;
          }
        }
        

}

@media (min-height: 850px){
  
    #second-section, #count-section, #map-section, #clients-section, #jobs-section, #news-section, footer {
      min-height: 1px !important;
  
}
}
